interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://ftx.com/api/markets
  response:
    content: '{"result":[{"ask":30.35,"baseCurrency":null,"bid":30.33,"change1h":-0.03251514185527574,"change24h":0.05053651782623745,"changeBod":-0.023173479240424847,"enabled":true,"last":30.39,"minProvideSize":0.01,"name":"AAVE-PERP","postOnly":false,"price":30.35,"priceIncrement":0.01,"quoteCurrency":null,"quoteVolume24h":1483193.2735,"restricted":false,"sizeIncrement":0.01,"type":"future","underlying":"AAVE","volumeUsd24h":1483193.2735},{"ask":30.94,"baseCurrency":null,"bid":30.79,"change1h":-0.031005324146570624,"change24h":0.06031528444139822,"changeBod":-0.012132822477650063,"enabled":true,"last":32.43,"minProvideSize":0.01,"name":"AAVE-1225","postOnly":false,"price":30.94,"priceIncrement":0.01,"quoteCurrency":null,"quoteVolume24h":87124.0377,"restricted":false,"sizeIncrement":0.01,"type":"future","underlying":"AAVE","volumeUsd24h":87124.0377},{"ask":30.38,"baseCurrency":"AAVE","bid":30.29,"change1h":-0.0293929[...]
