interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ftx.com/api/markets/BTC/USD/trades?market_name=BTC/USD&limit=100
  response:
    body:
      string: '{"result":[{"id":161045413,"liquidation":false,"price":13544.5,"side":"sell","size":0.0461,"time":"2020-11-02T10:05:34.066351+00:00"},{"id":161045412,"liquidation":false,"price":13545.0,"side":"sell","size":0.0003,"time":"2020-11-02T10:05:34.066351+00:00"},{"id":161045411,"liquidation":false,"price":13546.0,"side":"sell","size":0.0003,"time":"2020-11-02T10:05:34.066351+00:00"},{"id":161045410,"liquidation":false,"price":13547.0,"side":"sell","size":0.0003,"time":"2020-11-02T10:05:34.066351+00:00"},{"id":161045289,"liquidation":false,"price":13547.5,"side":"sell","size":0.0027,"time":"2020-11[...]
