interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.kraken.com/0/public/Depth?pair=XXBTZUSD&count=500
  response:
    content: '{"error":[],"result":{"XXBTZUSD":{"asks":[["11365.30000","0.671",1598369398],["11365.40000","0.660",1598369391],["11366.00000","0.180",1598369393],["11366.30000","1.253",1598369391],["11366.70000","0.660",1598369391],["11367.60000","5.877",1598369394],["11367.90000","1.181",1598369394],["11368.50000","1.262",1598369390],["11368.60000","0.891",1598369390],["11369.20000","0.821",1598369392],["11369.30000","0.880",1598369394],["11370.00000","0.015",1598369394],["11370.10000","0.880",1598369398],["11370.60000","0.757",1598369381],["11370.9[...]
