interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.kraken.com/0/public/Depth?pair=XXBTZUSD
  response:
    content: '{"error":[],"result":{"XXBTZUSD":{"asks":[["11752.50000","10.674",1598307747],["11752.60000","0.004",1598307740],["11752.70000","0.800",1598307746],["11752.80000","0.639",1598307730],["11753.00000","0.852",1598307743],["11753.10000","0.852",1598307743],["11753.20000","0.478",1598307728],["11753.30000","0.018",1598307742],["11753.40000","1.270",1598307743],["11753.70000","0.161",1598307738],["11753.80000","4.089",1598307745],["11754.00000","0.852",1598307730],["11754.20000","0.663",1598307745],["11754.30000","1.701",1598307727],["11754.[...]
