interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT
  response:
    content: '{"symbol":"BTCUSDT","priceChange":"53.47000000","priceChangePercent":"0.280","weightedAvgPrice":"19116.65262838","prevClosePrice":"19091.27000000","lastPrice":"19144.74000000","lastQty":"0.00437200","bidPrice":"19144.85000000","bidQty":"0.03986200","askPrice":"19144.86000000","askQty":"0.00550000","openPrice":"19091.27000000","highPrice":"19342.00000000","lowPrice":"18857.00000000","volume":"33925.51956700","quoteVolume":"648542372.79968606","openTime":1607190960189,"closeTime":1607277360189,"firstId":498315292,"lastId":499111375,"count":796084}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-content-security-policy:
      - default-src 'self'
      x-mbx-used-weight:
      - '1'
      x-mbx-used-weight-1m:
      - '1'
      x-mbx-uuid:
      - 09e79689-3935-44f0-9364-c3e1e5e55c53
      x-webkit-csp:
      - default-src 'self'
    status_code: 200
version: 1
