interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT
  response:
    body:
      string: '{"symbol":"BTCUSDT","priceChange":"53.59000000","priceChangePercent":"0.281","weightedAvgPrice":"19116.65263959","prevClosePrice":"19091.27000000","lastPrice":"19144.85000000","lastQty":"0.00059300","bidPrice":"19144.85000000","bidQty":"3.14803100","askPrice":"19144.86000000","askQty":"0.60550000","openPrice":"19091.26000000","highPrice":"19342.00000000","lowPrice":"18857.00000000","volume":"33925.50584100","quoteVolume":"648542110.78468698","openTime":1607190960585,"closeTime":1607277360585,"firstId":498315293,"lastId":499111376,"count":796084}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '2'
      x-mbx-used-weight-1m:
      - '2'
      x-mbx-uuid:
      - 4ba41bae-a5b7-4fff-a8fc-abba6f696fe5
    status:
      code: 200
      message: OK
    url: https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT
version: 1
