interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT
  response:
    content: '{"symbol":"BTCUSDT","priceChange":"-87.55000000","priceChangePercent":"-0.673","weightedAvgPrice":"13052.72198404","prevClosePrice":"13007.06000000","lastPrice":"12919.50000000","lastQty":"0.01000000","bidPrice":"12919.63000000","bidQty":"5.04551300","askPrice":"12919.64000000","askQty":"0.00900000","openPrice":"13007.05000000","highPrice":"13238.81000000","lowPrice":"12780.00000000","volume":"52956.35361700","quoteVolume":"691224561.05144348","openTime":1603646145275,"closeTime":1603732545275,"firstId":442261556,"lastId":442988972,"count":727417}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-content-security-policy:
      - default-src 'self'
      x-mbx-used-weight:
      - '1'
      x-mbx-used-weight-1m:
      - '1'
      x-mbx-uuid:
      - e3e64f8d-34a3-4a7c-81f7-00d41782d3ba
      x-webkit-csp:
      - default-src 'self'
    status_code: 200
version: 1
