interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://ftx.com/api/markets/BTC/USD/candles?market_name=BTC%2FUSD&resolution=60&limit=4000
  response:
    content: '{"result":[{"close":13464.0,"high":13477.0,"low":13463.0,"open":13477.0,"startTime":"2020-10-30T15:32:00+00:00","time":1604071920000.0,"volume":46305.4498},{"close":13465.5,"high":13468.5,"low":13460.0,"open":13464.0,"startTime":"2020-10-30T15:33:00+00:00","time":1604071980000.0,"volume":7355.6333},{"close":13475.0,"high":13476.5,"low":13460.5,"open":13465.5,"startTime":"2020-10-30T15:34:00+00:00","time":1604072040000.0,"volume":3892.8701},{"close":13499.5,"high":13505.0,"low":13473.0,"open":13475.0,"startTime":"2020-10-30T15:35:00+00:00","time":1604072100000.0,"volume":17048.97845},{"close":13503.5,"high":13507.5,"low":13495.5,"open":1[...]
