interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ftx.com/api/markets/BTC/USD/candles?market_name=BTC/USD&resolution=3600&limit=4000
  response:
    body:
      string: '{"result":[{"close":9580.5,"high":9600.5,"low":9562.0,"open":9593.0,"startTime":"2020-07-24T01:00:00+00:00","time":1595552400000.0,"volume":58994.486},{"close":9578.5,"high":9591.0,"low":9567.5,"open":9580.5,"startTime":"2020-07-24T02:00:00+00:00","time":1595556000000.0,"volume":193273.09765},{"close":9565.5,"high":9583.0,"low":9547.0,"open":9578.5,"startTime":"2020-07-24T03:00:00+00:00","time":1595559600000.0,"volume":160221.8192},{"close":9535.5,"high":9576.0,"low":9535.5,"open":9565.5,"startTime":"2020-07-24T04:00:00+00:00","time":1595563200000.0,"volume":236688.1309},{"close":9556.5,"high":9559.0,"low":9522.0,"open":9535.5,"star[...]
