interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.kraken.com/0/public/Depth?pair=XXBTZUSD&count=100
  response:
    content: '{"error":[],"result":{"XXBTZUSD":{"asks":[["19096.20000","5.744",1607189934],["19098.90000","0.670",1607189934],["19100.00000","0.010",1607189928],["19102.90000","0.250",1607189958],["19106.00000","0.003",1607189950],["19106.10000","1.253",1607189906],["19107.50000","0.002",1607189951],["19107.90000","0.020",1607189959],["19108.60000","1.000",1607189958],["19109.00000","0.484",1607189947],["19109.10000","0.746",1607189958],["19110.00000","0.005",1607189592],["19110.80000","1.492",1607189951],["19111.70000","2.095",1607189940],["19111.8[...]
