interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.kraken.com/0/public/Depth?pair=XXBTZUSD&count=500
  response:
    content: '{"error":[],"result":{"XXBTZUSD":{"asks":[["13622.50000","0.004",1603814719],["13622.60000","0.100",1603814719],["13626.00000","0.133",1603814720],["13626.10000","0.020",1603814720],["13626.20000","2.097",1603814719],["13627.70000","0.111",1603814717],["13627.80000","0.756",1603814720],["13628.40000","0.101",1603814716],["13629.30000","2.000",1603814716],["13629.50000","0.350",1603814720],["13630.30000","0.464",1603814720],["13630.40000","1.101",1603814719],["13630.60000","7.941",1603814718],["13630.70000","0.008",1603814721],["13630.8[...]
