interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.kraken.com/0/public/Depth?pair=XXBTZUSD&count=100
  response:
    content: '{"error":[],"result":{"XXBTZUSD":{"asks":[["15358.00000","1.618",1604951905],["15358.10000","1.628",1604951905],["15359.90000","2.604",1604951902],["15361.50000","0.019",1604951903],["15363.60000","0.203",1604951908],["15363.70000","2.000",1604951902],["15363.80000","2.604",1604951903],["15364.40000","0.064",1604951909],["15364.50000","0.212",1604951903],["15364.80000","1.800",1604951907],["15365.30000","2.000",1604951906],["15365.70000","0.489",1604951905],["15365.90000","0.644",1604951903],["15366.10000","0.173",1604951903],["15366.2[...]
