interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.binance.com/api/v3/trades?symbol=BTCUSDT&limit=1000
  response:
    content: '[{"id":499110078,"price":"19142.00000000","qty":"0.00504200","quoteQty":"96.51396400","time":1607277124421,"isBuyerMaker":false,"isBestMatch":true},{"id":499110079,"price":"19141.85000000","qty":"0.00061600","quoteQty":"11.79137960","time":1607277125023,"isBuyerMaker":false,"isBestMatch":true},{"id":499110080,"price":"19141.85000000","qty":"0.00488400","quoteQty":"93.48879540","time":1607277125222,"isBuyerMaker":false,"isBestMatch":true},{"id":499110081,"price":"19142.00000000","qty":"0.01030200","quoteQty":"197.20088400","time":1607277125222,"isBuyerMaker":false,"isBestMatch":true},{"id":499110082,"price":"19142.00000000","qty":"0.03[...]
