interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.binance.com/api/v3/trades?symbol=BTCUSDT&limit=1000
  response:
    content: '[{"id":442988483,"price":"12919.49000000","qty":"0.02841300","quoteQty":"367.08146937","time":1603732508211,"isBuyerMaker":true,"isBestMatch":true},{"id":442988484,"price":"12918.35000000","qty":"0.00900000","quoteQty":"116.26515000","time":1603732508211,"isBuyerMaker":true,"isBestMatch":true},{"id":442988485,"price":"12917.42000000","qty":"0.10054400","quoteQty":"1298.76907648","time":1603732508211,"isBuyerMaker":true,"isBestMatch":true},{"id":442988486,"price":"12917.42000000","qty":"0.08945600","quoteQty":"1155.54072352","time":1603732508212,"isBuyerMaker":true,"isBestMatch":true},{"id":442988487,"price":"12917.29000000","qty":"0.0[...]
